# TASK 2

$$
 Geom(p) ; p ; p = 0.7 \\
  P(X = x) = (1 - p)^{x - 1} \cdot p \\
  f_p = \prod P_i = \prod (1 - p)^{\sum(x_i - 1)} \cdot p^{n} \\
 L(p) = \sum ((x_i - 1)ln(1 - p) + ln(p)) \\
 L'(p) = \dfrac{\sum(1-x_i)}{1-p} + \dfrac{n}{p} \\
L  \rightarrow max \  \text{in} \  p = \dfrac{n}{\sum x_i} = \dfrac{1}{\overline{x}} \\
 \overline{p} = \dfrac{1}{\overline{x}} \\
  P\left(\tau \in \left[\overline{p} -q_{1-\frac{\alpha}{2}} \sigma, \overline{p} +q_{1-\frac{\alpha}{2}} \sigma\right] \right)
$$
–î–æ–≤–µ—Ä–µ—Ç–∏–ª—å–Ω—ã–π –∏–Ω—Ç–µ—Ä–≤–∞–ª –Ω–∞–π–¥–µ–Ω.\
–≠–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç:

In [69]:
import numpy as np
import pandas as pd
from scipy.stats import rv_continuous, geom

p = 0.7
ùúé_squared_1 = 2# –∏–∑ –ø–µ—Ä–≤–æ–π —Ç–∞—Å–∫–∏
ùúé_squared_2 = 1  # —Ç–∞–∫–∂–µ



ùõº = 1 - 0.95

quantile = geom.ppf(1 - ùõº / 2, p = p)

def experiment(n, n_experiments=1000):
    data = np.random.normal(p, size = (n_experiments, n))
    data_mean = data.mean(axis = 1)
    ùúé = np.sqrt(ùúé_squared_1 / n  + œÉ_squared_2 /n)
    
    df = pd.DataFrame()
    df['left'] = data_mean - quantile * ùúé
    df['right'] = data_mean + quantile * ùúé
    df['in'] = ((df['left'] <= p) & (df['right'] >= p)).astype(bool)
    return df

In [70]:
experiment_25 = experiment(25)
print(len(experiment_25[experiment_25['in']] == True))
experiment_25

1000

         left     right    in
0   -0.659977  2.111304  True
1   -0.651944  2.119338  True
2   -0.155165  2.616116  True
3   -0.760711  2.010571  True
4   -0.669872  2.101409  True
..        ...       ...   ...
995 -0.758936  2.012345  True
996 -0.717336  2.053946  True
997 -0.799122  1.972159  True
998 -0.621786  2.149496  True
999 -0.837738  1.933543  True

[1000 rows x 3 columns]

In [71]:
experiment_10000 = experiment(10000)
print(len(experiment_10000[experiment_10000['in']] == True))
experiment_10000

1000

         left     right    in
0    0.640047  0.778611  True
1    0.618390  0.756954  True
2    0.633661  0.772225  True
3    0.622122  0.760686  True
4    0.633627  0.772191  True
..        ...       ...   ...
995  0.638084  0.776648  True
996  0.640687  0.779251  True
997  0.631380  0.769944  True
998  0.608071  0.746635  True
999  0.620554  0.759118  True

[1000 rows x 3 columns]